[Unit]
Description=ESPHome Dashboard
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/esphome dashboard /opt/esphome --port 6052
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
